body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfb;
    font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, Helvetica, "\B9D1\C740 \ACE0\B515", Malgun Gothic, "\B3CB\C6C0", Dotum, sans-serif;
    font-size: 14px;
    line-height: 1.25em;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: top;
}

em {
    font-style: normal;
}

.App {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}
